body {
  font-family: "Nanum Gothic", sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #fff;
}

.btn.btn--brown {
  background-color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  background-color: #592b18;
  color: #fff;
}

.btn.btn--gold {
  color: #dbaa84;
  border-color: #dbaa84;
}

.btn.btn--gold:hover {
  background-color: #dbaa84;
  color: #fff;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  background-color: #fff;
  color: #333;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header div.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 120px;
}
header div.inner a.logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header div.inner div.sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header div.inner div.sub-menu ul.menu {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
header div.inner div.sub-menu ul.menu li {
  position: relative;
}
header div.inner div.sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header div.inner div.sub-menu ul.menu li:first-child::before {
  display: none;
}
header div.inner div.sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header div.inner div.sub-menu ul.menu li a:hover {
  color: #000;
}
header div.inner div.sub-menu div.search {
  height: 34px;
  position: relative;
}
header div.inner div.sub-menu div.search input {
  width: 36px;
  height: 36px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}
header div.inner div.sub-menu div.search input:focus {
  width: 190px;
  border-color: #669900;
}
header div.inner div.sub-menu div.search span.material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}
header div.inner div.sub-menu div.search.focused span.material-icons {
  opacity: 0;
}
header ul.main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header ul.main-menu li.item {
  cursor: pointer;
}
header ul.main-menu li.item div.item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
header ul.main-menu li.item:hover div.item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header ul.main-menu div.item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header ul.main-menu div.item__contents div.contents__menu {
  background-color: #2c2a29;
}
header ul.main-menu div.item__contents div.contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header ul.main-menu div.item__contents div.contents__menu > ul > li {
  width: 220px;
}
header ul.main-menu div.item__contents div.contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header ul.main-menu div.item__contents div.contents__menu > ul ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header ul.main-menu div.item__contents div.contents__menu > ul ul li:hover {
  color: #669900;
}
header ul.main-menu div.item__contents div.contents__texture {
  background-color: #d64700;
  padding: 26px 0;
  font-size: 12px;
  background: url(../images//main_menu_pattern.jpg);
}
header ul.main-menu div.item__contents div.contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header ul.main-menu div.item__contents div.contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
header ul.main-menu li.item:hover div.item__contents {
  display: block;
}
header div.badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header div.badges div.badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

section.visual {
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
  margin-top: 120px;
}
section.visual div.inner {
  height: 646px;
}
section.visual div.inner div.title {
  position: absolute;
  top: 80px;
  left: -10px;
}
section.visual div.inner div.title a.btn {
  position: absolute;
  top: 269px;
  left: 173px;
}
section.visual img.cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
section.visual img.cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
section.visual img.cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
section.visual img.cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
section.visual img.spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
section.visual div.fade--in {
  opacity: 0;
}

section.notice div.notice-line {
  position: relative;
}
section.notice div.notice-line div.bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
section.notice div.notice-line div.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
section.notice div.notice-line div.inner {
  height: 62px;
  display: flex;
}
section.notice div.notice-line div.inner div.inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
section.notice div.notice-line div.inner div.inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
section.notice div.notice-line div.inner div.inner__left div.swiper {
  height: 62px;
  flex-grow: 1;
}
section.notice div.notice-line div.inner div.inner__left div.swiper div.swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
section.notice div.notice-line div.inner div.inner__left div.swiper div.swiper-slide a {
  color: #fff;
}
section.notice div.notice-line div.inner div.inner__left a.notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.notice div.notice-line div.inner div.inner__left div.material-icons {
  color: #fff;
  font-size: 30px;
}
section.notice div.notice-line div.inner div.inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section.notice div.notice-line div.inner div.inner__right h2 {
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
section.notice div.notice-line div.inner div.inner__right div.toggle-promation {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.notice div.notice-line div.inner div.inner__right div.toggle-promation div.material-icons {
  font-size: 30px;
}
section.notice div.promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
}
section.notice div.promotion.hide {
  height: 0;
}
section.notice div.promotion div.swiper {
  width: 2477px;
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -1238.5px;
}
section.notice div.promotion div.swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
}
section.notice div.promotion div.swiper-slide-active {
  opacity: 1;
}
section.notice div.promotion div.swiper-slide-a.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
section.notice div.promotion div.swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}
section.notice div.promotion div.swiper-pagination span.swiper-pagination-bullet {
  background-image: url(../images/promotion_slide_pager.png);
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: 0;
  background-color: transparent;
}
section.notice div.promotion div.swiper-pagination span.swiper-pagination-bullet:last-child {
  margin-right: 0;
}
section.notice div.promotion div.swiper-pagination span.swiper-pagination-bullet span.swiper-pagination-bullet-active {
  background-image: url(../images/promotion_slide_pager_on.png);
}
section.notice div.promotion div.swiper-button-prev, section.notice div.promotion div.swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}
section.notice div.promotion div.swiper-button-prev {
  left: 50%;
  margin-left: -480px;
  color: #669900;
}
section.notice div.promotion div.swiper-button-prev::after {
  content: "";
}
section.notice div.promotion div.swiper-button-prev:hover {
  background-color: #333;
  color: #fff;
}
section.notice div.promotion div.swiper-button-next {
  right: 50%;
  margin-right: -480px;
  color: #669900;
}
section.notice div.promotion div.swiper-button-next::after {
  content: "";
}
section.notice div.promotion div.swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}

section.rewards {
  position: relative;
}
section.rewards div.bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
section.rewards div.bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
section.rewards div.inner {
  background-image: url(../images/rewards.jpg);
  height: 241px;
}
section.rewards div.inner div.btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 24px;
  right: 0;
}
section.rewards div.inner div.btn-group div.btn.sign-up {
  margin-right: 10px;
}
section.rewards div.inner div.btn-group div.btn.sign-in {
  width: 110px;
}
section.rewards div.inner div.btn-group div.btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}

section.youtube {
  position: relative;
  overflow: hidden;
  height: 700px;
  background-color: #333;
}
section.youtube div.youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  top: 50%;
  margin-top: -540px;
}
section.youtube div.youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
section.youtube div.youtube__area #player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section.youtube div.youtube__cover {
  background-image: url(../images/video_cover_pattern.png);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.youtube div.inner {
  height: 700px;
}
section.youtube div.inner img.floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
section.youtube div.inner img.floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

section.season-product {
  background-image: url(../images/season_product_bg.jpg);
}
section.season-product div.inner {
  height: 400px;
}
section.season-product div.inner img.floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
section.season-product div.inner div.text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
section.season-product div.inner div.text-group img.title {
  margin-bottom: 10px;
}
section.season-product div.inner div.text-group img.description {
  margin-bottom: 15px;
}
section.reserve-coffee {
  background-image: url(../images/reserve_bg.jpg);
}
section.reserve-coffee div.inner {
  height: 400px;
}
section.reserve-coffee div.inner img.reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
section.reserve-coffee div.inner div.text-group {
  position: absolute;
  top: 124px;
  left: 200px;
}
section.reserve-coffee div.inner img.product {
  position: absolute;
  top: 0;
  right: 0;
}

section.pick-your-favorite {
  background-image: url(../images/favorite_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
section.pick-your-favorite div.inner {
  padding: 110px 0;
}
section.pick-your-favorite div.inner div.text-group {
  margin-left: 100px;
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
section.pick-your-favorite div.inner div.text-group img.title {
  margin-bottom: 40px;
}
section.pick-your-favorite div.inner div.text-group img.description {
  margin-bottom: 40px;
}

section.reserve-store {
  background-image: url(../images/reserve_store_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
section.reserve-store div.inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.reserve-store div.inner div.medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
section.reserve-store div.inner div.medal div.front, section.reserve-store div.inner div.medal div.back {
  width: 334px;
  height: 334px;
  transition: 1s;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
section.reserve-store div.inner div.medal div.front {
  transform: rotateY(0deg);
}
section.reserve-store div.inner div.medal:hover div.front {
  transform: rotateY(-180deg);
}
section.reserve-store div.inner div.medal div.back {
  transform: rotateY(-180deg);
}
section.reserve-store div.inner div.medal div.back a.btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}
section.reserve-store div.inner div.medal:hover div.back {
  transform: rotateY(0deg);
}

section.find-the-store {
  background-image: url(../images/find_store_bg.jpg);
}
section.find-the-store div.inner {
  height: 400px;
}
section.find-the-store div.inner img.texture1 {
  position: absolute;
  left: 400px;
}
section.find-the-store div.inner img.texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
section.find-the-store div.inner img.picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
}
section.find-the-store div.inner img.picture1 {
  top: -60px;
  left: 0;
}
section.find-the-store div.inner img.picture2 {
  top: 150px;
  left: 250px;
}
section.find-the-store div.inner div.text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
section.find-the-store div.inner div.text-group img.title {
  margin-bottom: 20px;
}
section.find-the-store div.inner div.text-group img.description {
  margin-bottom: 20px;
}

section.awards {
  background-color: #272727;
  position: relative;
}
section.awards div.inner {
  padding: 40px 0;
}
section.awards div.inner div.swiper {
  width: 100%;
  height: 40px;
}
section.awards div.inner div.swiper-button-prev, section.awards div.inner div.swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}
section.awards div.inner div.swiper-button-prev {
  left: 50%;
  margin-left: -480px;
  color: #fff;
}
section.awards div.inner div.swiper-button-prev:hover {
  background-color: #333;
  color: #fff;
}
section.awards div.inner div.swiper-button-prev::after {
  content: "";
}
section.awards div.inner div.swiper-button-next {
  right: 50%;
  margin-right: -480px;
  color: #fff;
}
section.awards div.inner div.swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
section.awards div.inner div.swiper-button-next::after {
  content: "";
}

footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer div.inner {
  padding: 40px 0 60px 0;
}
footer div.inner ul.menu {
  display: flex;
  justify-content: center;
}
footer div.inner ul.menu li {
  position: relative;
}
footer div.inner ul.menu li::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #555;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -1;
}
footer div.inner ul.menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700px;
  padding: 15px;
  display: block;
}
footer div.inner ul.menu li a.green {
  color: #669900;
}
footer div.inner div.btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer div.inner div.btn-group a.btn {
  font-size: 12px;
  margin-right: 10px;
}
footer div.inner div.btn-group a.btn:last-child {
  margin-right: 0;
}
footer div.inner div.info {
  margin-top: 30px;
  text-align: center;
}
footer div.inner div.info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer div.inner div.info span:last-child {
  margin-right: 0;
}
footer p.copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer p.copyright img.logo {
  margin: 30px auto 0;
}
footer p.copyright span.this-year {
  margin: 0 5px;
}

div#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 42px;
}